<blockquote{{#if citation.url}} cite="{{citation.url}}"{{/if}}>{{{quote}}}</blockquote>
{{#if citation.text}}
<p>
    {{#if author}}{{{author}}},{{/if}}
    <cite>{{{citation.text}}}</cite>
</p>
{{else}}
    {{#if author}}
        <p>{{{author}}}</p>
    {{/if}}
{{/if}}