<{{tag}}
    {{#if id}}id="{{id}}"{{/if}}
    class="a-btn{{#if modifier}} a-btn--{{modifier}}{{/if}}
    {{#if modifierClasses}} {{modifierClasses}}{{/if}}"
    {{#if href}} href="{{{href}}}"{{else}} type="{{type}}"{{/if}}
    {{#if icon}} aria-label="{{label}}"{{/if}}>
    {{#if icon-left}}
    {{render '@icon' icon-left merge=true}}
    {{/if}}
    {{#if icon}}
    {{render '@icon' icon merge=true}}
    {{else}}
    <span class="a-btn__text">{{{label}}}</span>
    {{/if}}
    {{#if icon-right}}
    {{render '@icon' icon-right merge=true}}
    {{/if}}
</{{tag}}>